<!doctype html>
<html class="no-js" lang="en">
    <head>
        <title>Test rest api</title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript">

            function request()
            {
                // example data
                var data = {
                    "action": 'status',
                    "apikey": "08be69572cce40dc90934442084828fd"
                };

                $.ajax({
                    type: 'GET', // POST, DELETE, UPDATE
                    contentType: 'application/json',
                    url: '/rest/user',
                    dataType:'json',
                    beforeSend: function(jqXHR, settings){
                        jqXHR.setRequestHeader("data", JSON.stringify(data))
                    },
                    success: function(response, textStatus, xhr) {

                        var status = parseInt(xhr.status);

                        if (status === 200) {
                            console.log(response.);
                        }
                    }
                });
            }

            $(function() {
                request();
            });

        </script>
    </head>

    <body>

    </body>
</html>